---
import Layout from '../layouts/Layout.astro';
import WindData from '../components/WindData.jsx';
import Footer from "../components/Footer.astro";
import ArrowsClockwise from "../assets/icons/ArrowsClockwise.astro";

const currentDate = new Date();
let formattedDate = currentDate.toISOString().slice(0, 10).replace(/-/g, '-');
---

<Layout>
    <div class="pb-16">
        <div class="flex items-center gap-2">
            <h1>Blouberg - Wind</h1>
            <span class="flex h-fit px-1 py-0,5 rounded text-nowrap bg-rose-600 text-xs font-bold text-zinc-900">Live</span>
        </div>
        <h2>{formattedDate}</h2>
        <p class="pt-4">
            This is an official weather station.<br>
            I’m definitely not just scraping Mac wind data.
        </p>
    </div>

    <div class="flex gap-x-2 pb-2">
        <div class="grid grid-cols-2 p-1 w-full bg-zinc-900 rounded">
            <button class="p-2 rounded">1m Average</button>
            <button class="bg-zinc-950 p-2 rounded">15m Average</button>
        </div>

        <button class="bg-zinc-900 rounded py-3 px-4">
            <ArrowsClockwise height="16" width="16" tailwindAttr="fill-zinc-200"/>
        </button>
    </div>

    <div class="grid grid-cols-12 p-3 gap-x-2">
        <span class="text-center col-span-3 text-xs">Time</span>
        <span class="text-center col-span-2 text-xs">Low</span>
        <span class="text-center col-span-2 text-xs">Avg</span>
        <span class="text-center col-span-2 text-xs">High</span>
        <span class="text-center col-span-3 text-xs">Direction</span>
    </div>
    <div class="border border-zinc-900 rounded p-3 overflow-scroll">
        <WindData client:load/>
    </div>

    <Footer/>
</Layout>