@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-4xl text-zinc-200 font-bold;
    }

    h2 {
        @apply text-lg text-zinc-200 font-bold;
    }

    p {
        @apply text-xs text-zinc-500;
    }

    span {
        @apply text-zinc-200 text-xs;
    }

    table {
        @apply text-zinc-200 text-xs;
    }

    button {
        @apply text-zinc-200 text-sm  hover:cursor-pointer;
    }
}

/*Webkit scrollbar customization*/
*::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

*::-webkit-scrollbar-track {
    background-color: #18181B;
}

*::-webkit-scrollbar-thumb {
    background-color: #71717A;
    border-radius: 10px;
    border: 4px solid #18181B;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1aa;
}
